.troika_h1.h_pos
  Does the Universe look the same
.troika_h2.h2_pos
  In HDF-North and HDF-South?

#north_with_hubble.question_left
#south_with_hubble.question_right
#compare_table
  = render partial: 'symmetry/compare'
  .std_text.symmetry_comment
    .std_bold
      Yes. 
    The populations of all three galaxy types are so similar that we can con- clude that the universe looks the same in these two directions.  Does this mean that the universe looks the same in all directions?
= link_to symmetry_question_path do
  .back.back_position
= link_to symmetry_uniform_path do
  .next_signpost.next_position
#travelogue_15.travelogue_position 