.troika_h1.h_pos
  Does the Universe look the same
.troika_h2.h2_pos
  In HDF-North and HDF-South?
= render partial: 'symmetry/compare'
.std_text.symmetry_comment
  .std_bold
    Yes. 
    The populations of all three galaxy types are so similar that we can con- clude that the universe looks the same in these two directions.  Does this mean that the universe looks the same in all directions?
<page-nav back='"/fields/question"' forward='"/fields/uniform"'></page-nav>

#travelogue_15.travelogue_position 