.enter_left
  #re_enter_the_deep.re_enter_the_deep_position
  #re_enter_snippet
    .troika_h2
      Sample the
      %br
      other hdf
    .std_text
      Find out if things look the same or different in the other direction.
.enter_right
  .field_block#north{'ng-show'=>'field!="n"'}
    #plain_north.plain_control
      .plain_middle
        .big_look
          Look North 
        .big_text
          near the Big Dipper
      #north_plain     
    #hover_north.hover_adjust_right.hover_control{'ng-click'=>'look_at_other_hdf()'}
  #north_used{'ng-show'=>'field=="n"'}
  .earth_block
    #earth_image
    <div class='enter_tag_position condensed_h2_underscore' ng-click='modal.open("Meet HDF-North")'> More info about HDF-N </div>
  .field_block#south{'ng-show'=>'field!="s"'}
    #plain_south.plain_control
      .plain_middle
        .short_break
        .short_break
        .big_look
          Look South
        .big_text
          near the constellation Tucana
      #south_plain   
    #hover_south.hover_adjust_right_south.hover_control{'ng-click'=>'look_at_other_hdf()'}
  #south_used.hover_control{'ng-show'=>'field=="s"'}
  .earth_block
    <div class='enter_tag_position condensed_h2_underscore' ng-click='modal.open("Meet HDF-South")'> More info about HDF-S </div>

%field_modals

<page-back back='"/itinerary"'></page-back> 


