.troika_h1.h_pos
  Stare and Compare
.troika_h2.h2_pos
  Astronomers' results

#north_with_hubble.question_left
#south_with_hubble.question_right
#compare_table
  = render partial: 'symmetry/compare'
  .std_text.symmetry_comment
    Comparing the two HDFs, could you 
    %br
    say that the universe probably looks the same in these two directions?  Let's 
    %br
    find out ...
= link_to symmetry_evaluate_back_path do
  .back.back_position
= link_to symmetry_answer_path do
  .next_signpost.next_position
#travelogue_14.travelogue_position  



