.troika_h1.h_pos
  Stare and Compare
.troika_h2.h2_pos
  Astronomers' results
= render partial: 'symmetry/compare'
.std_text.symmetry_comment
  .std_bold
    Comparing the two HDFs, could you 
    %br
    say that the universe probably looks the same in these two directions?
    %br  Let's find out ...

<page-nav back='"/fields/evaluate"' forward='"/fields/answer"'><page-nav>  
#travelogue_14.travelogue_position  



