#uniform.uniform_position
.troika_h1.h_pos
  Does the Universe look the same
.troika_h2.h2_pos
  In HDF-North and HDF-South?

#left_uniform_text
  .std_text 
    The HDFs are only two samples of the sky so, statistically, we can't use them to conclude that the universe looks the same in all directions.  
    %p
    But, based on other observations, as- tronomers accept the premise that the universe is the same in all directions.  These Deep Fields don't contradict that premise.


= link_to symmetry_answer_path do
  .back.back_position
= link_to lesson_index_path do
  .next_signpost.next_position