.jump-to
  - unless @top_links
    %hr

  %span.title JUMP TO:
  %ul
    - links.each_with_index do |link, index|
      %li.closer_line
        = link_to link[0], url_for(:anchor => link[1])
        - unless index == links.size - 1
          %span.bullet &bull;
  - unless @top_links  
    %hr
    = top_link
      
    