%h1 Education Standards
.markdown
  :markdown
    For the Online Exploration, <b>Solar System Trading Cards</b>.
    
%div 
  %div{:class=> 'gray-box'}
    GRADE LEVEL: 3-6
  %div{:class=> 'gray-box'}
    TARGET GRADE: 4
%br 
%br   
.markdown.education
  :markdown    
    ***
    ###LEARNING OUTCOMES:###
    <p>In <a href='/teacher/education-standards#outcome1'> Outcome 1</a> 
    students will identify planets and other solar system objects using visual clues. Students will read information to learn about planets and other solar system objects.</p>

    ***

    ###LEARNING OUTCOMES and STANDARDS:###
.border-only.education
  %table.edu
    %caption 
      OUTCOME 1:<br />
      %a{:name=>'outcome1'}
      %p 
        Students will identify planets and other solar system objects using visual clues. Students will read information to learn about planets and other solar system objects.
    %tbody
      %tr
        %td.edu_topic
          COMMON CORE STANDARDS FOR ENGLISH LANGUAGE ARTS

        %td.edu_content
          .edu_heading
            College and Career Readiness Anchor Standard for Reading
          %p
            .bigger_line
              CCSS.ELA-Literacy.CCRA.R.7 <br/>

            • Integrate and evaluate content presented in diverse media and formats, including visually and quantitatively, as well as in words. 


      %tr
        %td.edu_topic
          AAAS PROJECT 2061 STANDARDS
        %td.edu_content
          .edu_heading
            The Physical Setting <br/>
            Standard A: The Universe.
          %p
            .bigger_line
              By the end of the 5th grade, students should know that:

            • The Earth is one of several planets that orbit the Sun, and the Moon orbits around the Earth.
          %p
            .bigger_line
              By the end of the 8th grade, students should know that:

            • Nine planets of very different size, composition, and surface features move around the Sun in nearly circular orbits. Some planets have a great variety of moons and even flat rings of rock and ice particles orbiting around them. Some of these planets and moons show evidence of geologic activity. The Earth is orbited by one Moon, many artificial satellites, and debris.

  

  


  
