%h1 Grab Bag
-@top_links=true
= jump_to(grab_bag_links)
-@top_links=false
%hr
%h2{:id=>'cards', :class=>'squeeze_6_px'} Downloadable cards (PDF)
%ul.styled.print-ready
.markdown 
  :markdown
    Customize your lesson! Below you will find printable PDF "cards" &#8212; single-sided sheets with the images and text used in the lesson. Create your own interactive lessons and overhead transparencies.

    Each "card" consists of an image on the left, with text on the right. Print and fold the letter-sized sheet in half (with the image and text on the outside) to reveal an unlabeled image of the solar system object on one side and the information about the object on the reverse side. This allows the information to be revealed in a controlled manner, similar to the method used in the online exploration.

    For example, a statement can be made about the object ("This is the largest object in the solar system"), and the student(s) can select the image that they think fits this statement. Students can then check the "back"Â of their image to reveal whether they chose the correct object. If preferred, the pages can be used unfolded to make comparisons among the solar system objects.
 
.markdown.indent
  :markdown  
    ###Solar System Trading Card PDFs###
    Click or right-click the link to download the PDF. Right-click the image to download the thumbnail image. (NOTE: This set of cards uses the images and information found in the online activity. This set is not the same as the set of solar system trading cards found in the "Capture the Cosmos" section of Amazing Space.)
%table{:class=>'table_indent'}
  %tr 
    - ['Sun', 'Mercury', 'Venus', 'Earth', 'Mars', 'Asteroids'].each do |planet|
      =render :partial=>'teacher/planet_detail', :locals=>{:planet=> planet}
  %tr
    - ['Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto', 'Comet'].each do |planet|
      =render :partial=>'teacher/planet_detail', :locals=>{:planet=> planet}
%h2{:id=>'worksheets'} PDF follow-up activities /Extension worksheets
%ul{:class=>'pdf_links '}
  %li
    =link_to 'Solar System Data Table',asset_path('solar_system_data_table.pdf')
   
  %li  
    =link_to 'Planets Distance Scale Table',asset_path('planets_distance_scale.pdf')
    
  %li
    =link_to 'Planets Diameter Scale Table',asset_path('planets_diameter_scale.pdf')
   
%br    
= jump_to(grab_bag_links)
%h2{:id=> 'stsci_resources'} Web resources from the Space Telescope Science Institute (STScI)
%p
  The following sites are listed in alphabetical order:
.indent.adjust_grab_header
  %h3 HubbleSite's Astronomy Printshop
  %p
    This page describes how to get hard copies of Hubble Space Telescope (HST) images. HubbleSite is STScI's website devoted to HST. <br/>  http://hubblesite.org/gallery/printshop/ 


  %h3 HubbleSite NewsCenter:
  %p
    This section of HubbleSite includes all the press release images of the solar system taken by HST since 1990. The section is organized by planets. All images include captions, and some include background textual information, animations, and diagrams.  <br/>http://hubblesite.org/newscenter/archive/releases/solar-system/ 
  %h3 HubbleSite Gallery's Picture Album  
  %p
    This section of HubbleSite includes all the press release images taken by the Hubble Space Telescope since 1990. The site is organized by subject. All images include captions, and some include background textual information, animations, and diagrams. <br/>http://hubblesite.org/gallery/album/
  %h3 HubbleSite Team Hubble: Servicing Missions  
  %p
    This section of HubbleSite provides information about the Hubble Space Telescope's servicing missions. <br/>http://hubblesite.org/the_telescope/team_hubble/servicing_missions.php
  %h3 HubbleSite: The Telescope  
  %p
    This section of HubbleSite provides a wealth of information about the Hubble Space Telescope, its instruments and systems. <br/> http://hubblesite.org/the_telescope/

= jump_to(grab_bag_links)
%h2{id: 'other_resources'} Other websites and Web resources
.markdown
  :markdown
    For more information about the Hubble Space Telescope, check out the resources below from other websites.  Please note that STScI has no control over these outside websites, so it cannot guarantee their stability. Before clicking on any of these outside websites, please bookmark this page so you can return to this website.

    The following are listed in alphabetical order: 

.indent.adjust_grab_header
  %h3 Current and Past Planetary Missions
  %p
    Provided by the National Space Science Data Center at the Goddard Space Flight Center, this site contains a comprehensive list of planetary missions. All missions include information, images, and diagrams.<br/>http://nssdc.gsfc.nasa.gov/planetary/projects.html
  %h3   Discovery of a Planetary Orbit Around the Nearby Star, 51 Pegasi
  %p

    This page from The Electronic Universe Project at the University of Oregon has graphics, images, and diagrams of the detection of a planet orbiting the star 51 Pegasi. The site offers the latest information about this discovery and the continued investigation. <br/>http://zebu.uoregon.edu/newplanet.html
  
  %h3 Exoplanet Data Explorer
  %p
    This site, provided by the Exoplanet Data Explorer, offers an interactive table and plotter for exploring and displaying data from the Exoplanet Orbit Database.<br/>http://exoplanets.org/


  %h3 Jet Propulsion Laboratory: Welcome to the Planets
  %p
    Provided by the California Institute of Technology, "Welcome to the Planets" is a collection of many of the best images from NASA's planetary exploration program. The collection has been extracted from the interactive program "Welcome to the Planets," which was distributed on the Planetary Data System Educational CD-ROM Version 1.5 in December 1995.<br/>http://pds.jpl.nasa.gov/planets/

  %h3 Lunar and Planetary Institute
  %p
    At this website, educators will find many links related to the solar system. The "Resources" section includes activities, exhibits, Powerpoint presentations, recommended websites, and more.<br/>http://www.lpi.usra.edu

  %h3 NASA Mars Exploration Program
  %p
    Learn about NASA's many missions to Mars, from Mariner 3-4, to the Mars Rovers, to the missions of the future. The home page for NASA's Mars Exploration Program offers a myriad of resources, including classroom activities, images, video, and related information. <br/>http://mars.jpl.nasa.gov/

  
  %h3 NASA's Planetary Photojournal
  %p
    NASA's JPL site provides images of the solar system. Users may select the images by mission. <br/> http://photojournal.jpl.nasa.gov 

  %h3 National Space Science Data Center Photo Gallery
  %p
    The NSSDC at the Goddard Space Flight Center provides access to some of the more popular space images. The images presented in the Photo Gallery have a number of different sources, but they are primarily NASA missions. They are generally organized by object and/or phenomenon, each of which appear on separate pages. The image's source and the processing involved to produce the image are included wherever possible. Photo captions for some images are also available.<br/>http://nssdc.gsfc.nasa.gov/photo_gallery/

  %h3 Planetary Fact Sheets
  %p
    Provided by the National Space Science Data Center, the planetary fact sheet pages offer information and images about objects in the solar system.<br/>http://nssdc.gsfc.nasa.gov/planetary/planetfact.html

  %h3 Solar System Exploration Home Page
  %p
    A list of links to all the current and proposed NASA missions to explore the solar system. The page is provided by NASA's Jet Propulsion Laboratory. <br/>http://www.jpl.nasa.gov/solar-system/

  %h3 Solar System Exploration Updates
  %p
    Provided by NASA's Office of Space Science's Exploration of the Solar System Forum, this page includes updates of all the current missions to the solar system. <br/>http://solarsystem.nasa.gov/news/index.cfm

  %h3 Solar System Live
  %p
    Created by John Walker from Fourmilab, this site has a Web application (link below) that allows you to see a diagram of the current position of the planets in the solar system. Other settings allow users to customize their view. <br/>http://www.fourmilab.ch/cgi-bin/uncgi/Solar

  %h3 Solar System Simulator
  %p
    Created by NASA Jet Propulsion Laboratory and Caltech, this simulator allows the user to view Earth and all the planets and moons in our solar system from different points of view. You can set the date and select the object you want to see. Also included is a list of frequently asked questions. <br/>http://space.jpl.nasa.gov

  %h3 The Nine Planets: A Multimedia Tour of the Solar System 
  %p 
    Created by Bill Arnett, "The Nine Planets" is an overview of the history, mythology, and current scientific knowledge of each of the planets and moons in our solar system. Each page has text and images. Some have sounds and movies, and most provide references to additional related information. 
    <br/> NOTE: The site notes that the IAU has changed the definition of a "planet" so that Pluto no longer qualifies. There are now officially only eight planets in our solar system. <br/>http://nineplanets.org/

  %h3 Tour the World's Largest Model of the Solar System
  %p
    The Riverfront Museum Community Solar System is the world's most complete large-scale solar system model, utilizing the whole Earth, and even the Moon, to situate model components. It is a unique model of our solar system, in that both size and distance are represented on the same scale (42 feet = 1 million miles/1 meter = 1.4x105 kilometers). In addition to the Sun and planets, the model includes five dwarf planets and unnamed comets, spread across the entire planet. Comet plaques are located on all seven continents as far north as Barrow, Alaska and as far south as South Pole Station, Antarctica. The nearest star to the Sun, the Alpha Centauri System, is on Earth's Moon, represented by Little West Crater at the Apollo 11 landing site.<br/>http://www.peoriariverfrontmuseum.org/whats-happening-now/the-dome-planetarium/community-solar-system


  %h3 Windows to the Universe
  %p
    This site, provided by the University of Michigan, offers information about many topics in astronomy, including Earth, the Sun, the solar system, space missions, the universe, and people. The site is graphic intensive. <br/> http://www.windows2universe.org  

= jump_to(grab_bag_links)
%h2{:id=>'books', :class=>'up_3_px'} Books and other printed material
.indent
  
  %p
    Aguilar, David A.  <i>13 Planets: The Latest View of the Solar System</i>
  %p   
    Aguilar, David A.  <i>Planets, Stars, and Galaxies: A Visual Encyclopedia of Our Universe</i>
  %P 
    American Association for the Advancement of Science.  <i>Science for All Americans</i>
  %p
    American Education Publishing.  <i>Solar System, Grades 1 & 3 </i>
  %p
    Beatty, J. Kelly, Chaikin, Andrew, and Petersen, Carolyn Collins.  <i>The New Solar System, 4th edition</i>
  %p
    Berkes, Marianne.  <i>Going Around the Sun: Some Planetary Fun</i>
  %p
    Bond, Peter.  <i>Exploring the Solar System</i>
  %p
    Bortolott, Dan.  <i>Exploring Saturn</i>
  %p
    Branley, Franklyn Mansfield.  <i>The Moon Seems to Change</i>
  %p
    Bredeson, Carmen.  <i>What Is the Solar System? (I Like Space!)</i>
  %p
    Burnham, Robert.  <i>Children's Atlas of the Universe</i>
  %p
    Carson, Mary Kay.  <i>Exploring the Solar System: A History with 22 Activities</i>
  %p 
    Castleman, Emily.  <i>Planets in Our Solar System: Picture and Fact Book for Kids</i>
  %p   
    Chesanow, Neil.  <i>Where Do I Live?</i>
  %p
    Chown, Marcus.  <i>Solar System: A Visual Exploration of All the Planets, Moons and Other Heavenly Bodies that Orbit Our Sun</i>
  %p   
    Clark, Stuart.  <i>The Big Questions: The Universe</i>
  %p   
    Clark, Stuart.  <i>Voyager: 101 Wonders Between Earth and the Edge of the Cosmos</i>
  %p
    Cole, Joanna.  <i>The Magic School Bus Lost in the Solar System.</i>  (NOTE: Not updated to reflect Pluto's current status.)
  %p
    Cole, Joanna.  <i>Magic School Bus Out of This World: A Book About Space Rocks.</i>  (NOTE: Not updated to reflect Pluto's current status.)
  %p
    Cole, Norma.  <i>Blastoff: A Space Counting Book.</i>  (NOTE: Not updated to reflect Pluto's current status.)
  %p
    Condie, Kent C.  <i>Earth as an Evolving Planetary System, Second Edition</i>
  %p
    Davies, John Keith.  <i>Beyond Pluto: Exploring the Outer Limits of the Solar System</i>
  %p
    Florian, Douglas.  <i>Comets, Stars, the Moon, and Mars: Space Poems and Paintings</i>
  %p
    Freedman, Roger A. and William J. Kaufmann.  <i>Universe: the Solar System, 4th edition</i>
  %p
    Gibbons, Gail.  <i>The Planets</i>
  %p
    Graham, Ian.  <i>Solar System: A Journey to the Planets and Beyond (3-D Explorer)</i>
  %p 
    Hughes, Catherine D.  <i>National Geographic Kids First Big Book of Space</i>
  %p   
    Jemison, Mae. Rau, Dana Meachen.  <i>Journey Through Our Solar System</i>
  %p
    Jerzewski, Jason, Ryan Bailey.  <i>Solar System for Kids: An Awesome Kids Book About Planets!</i>
  %p
    Jones, Barrie William.  <i>Discovering the Solar System, 2nd edition</i>
  %p
    Keane, Nancy J.  <i>Middle School Pathfinders: Guiding Student Research</i>
  %p     
    Lang, Kenneth R.  <i>The Cambridge Guide to the Solar System, 2nd edition</i>
  %p
    Leedy, Loreen.  <i>Postcards from Pluto: A Tour of the Solar System</i>
  %p
    Lissauer, Jack J. and Imke de Pater.  <i>Fundamental Planetary Science: Physics, Chemistry and Habitability</i>
  %p 
    Lodders, Katharina and Bruce Fegley, Jr.  <i>Chemistry of the Solar System</i>
  %p
    Lopez, Delano.  <i>Amazing Solar System Projects You Can Build Yourself</i>
  %p
    Michaels, Alexander G.  <i>Solar System! A Kids Book About the Solar System</i>
  %p
    Mitton, Jacqueline.  <i>The Planet Gods: Myths and Facts About the Solar System</i>
  %p
    Moor, Eva.  <i>Space Explorers. (The Magic School Bus Chapter Book, No. 4)</i>  (NOTE: Not updated to reflect Pluto's current status.)
  %p
    North, Gerald.  <i>Observing the Solar System: The Modern Astronomer's Guide</i>
  %p
    Pasachoff, Jay M.  <i>A Field Guide to Stars and Planets</i>
  %p
    Powers, Don, John B. Beaver.  <i>Astronomy, Grades 6 - 12: Our Solar System and Beyond</i>
  %p
    Ridpath, Ian and Wil Tirion. <i> Stars and Planets</i>
  %p
    Riley, Peter.  <i>Space! Our Solar System and Beyond</i>
  %p 
    Seeds, Michael and Dana Backman.  <i>The Solar System</i>
  %p
    SETI Institute Staff.  <i>Rise of Intelligence and Culture</i>
  %p
    Sevenster, Carme.  <i>What do you see? Our Solar System</i>
  %p
    Simon, Seymour.  <i>Comets, Meteors, and Asteroids</i>
  %p
    Simon, Seymour.  <i>Mercury, 2012 edition</i>
  %p
    Simon, Seymour.  <i>Neptune, 2012 edition</i>
  %p
    Simon, Seymour.  <i>Our Solar System (revised edition)</i>
  %p
    Simon, Seymour.  <i>Planets Around the Sun, 2012 edition</i>
  %p
    Simon, Seymour.  <i>Planet Mars, 2012 edition</i>
  %p
    Simon, Seymour.  <i>Saturn, 2012 edition</i>
  %p
    Simon, Seymour.  <i>Uranus, 2012 edition</i>
  %p
    Simon, Seymour.  <i>Venus, 2012 edition</i>
  %p
    Stern, Alan and Mitton, Jacqueline.  <i>Pluto and Charon: Ice Worlds on the Ragged Edge of the Solar System</i>
  %p
    Sutherland, Paul.  <i>Where Did Pluto Go? A Beginner's Guide to Understanding the "New" Solar System</i>
  %p
    Taylor, Stuart Ross.  <i>Destiny or Chance Revisited: Planets and their Place in the Cosmos</i>
  %p 
    Thomas, Ethan.  <i>Planets! A Kids Book About Planets and Our Solar System</i>
  %p
    Trammel, Howard K.  <i>The Solar System (True Books: Space)</i>
  %p
    VanCleave, Janice Pratt P.  <i>Janice VanCleave's A+ Projects in Astronomy: Winning Experiments for Science Fairs and Extra Credit</i>
  %p
    Vogt, Gregory.  <i>Solar System, 2nd edition. (Scholastic Reader Level 2)</i>
  %p
    Waxman, Laura Hamilton.  <i>The Solar System</i>
    