%h1 Overview
- @top_links=true
= jump_to(overview_links)
- @top_links=false
%h2{:id => 'description'} Description of the lesson
%p 
  <b>Solar System Trading Cards</b> is an Amazing Space "Online Exploration" in which students will collect solar system trading cards by playing an interactive card game. Students will read information to learn about planets and other solar system objects. They will identify the Sun, planets, comets, and asteroids by answering questions about them and using amazing pictures taken by the Hubble Space Telescope and various other NASA missions.

%hr

%h2{:id => 'overview'} Teacher's Pages Sections
%p These Teacher's Pages provide essential information and lesson components, including
.markdown.indent
  :markdown
    <span class='overview_hdr'>Overview</span> <br/>
    A broad, comprehensive summary of the activity, including a description, the
    concepts covered, prerequisites, and the target audience.

    <span class='overview_hdr'>Education Standards</span> <br/>
    This section provides alignment between each activity and four sets of standards, where applicable: Common Core; the AAAS Project 2061 Benchmarks for Science Literacy; the Next Generation Science Standards; and the National Council of Teachers of Mathematics' Principles and Standards for School Mathematics.

    <span class='overview_hdr'>Computer Needs</span> <br/>
    Guidance on how to set up your computers for this activity, as well as the requirements to run the Online Exploration.
    
    <span class='overview_hdr'>Lesson Plan</span> <br/>
    Specific recommendations for using the activities, including learning outcomes, new vocabulary, misconceptions, preparation and execution times for activities, procedures and directions for implementation, guidelines for the physical layout of the room and materials (including ideas for the one-computer classroom and the classroom without computers), evaluation and assessment ideas, activity extensions, and advice and ideas for home schoolers.

      <span class='overview_hdr'>Science Background</span> <br/>
    Provides general information about the science behind the activity. It clarifies important concepts used in the activity and contains a message from the scientist. Depending on the educator's objective, the information in this section can be used for review, learning the basics, or remediation, and may be accessed prior to doing the activity and/or while working through the activity. Finally, references are provided for those interested in the sources of information used to create the instructional materials found in the lesson and the accompanying teacher pages.
    
      <span class='overview_hdr'>Grab Bag</span> <br/>
    Provides access to the images used to create the activity. The Grab Bag also supplies other downloadable documents for the lesson, a variety of educational resources, and links for educators who wish to customize the activity, do further research, or read additional background before engaging in the lesson.

= jump_to(overview_links)

%h2{:id => 'preparing'} Preparing for an Online Exploration
.markdown.indent
  :markdown
    <div class='list_hdr'>Decide if the activity meets your needs ...</div>

    1. Check out the activity ahead of time by working through it as your students will. As you go through the activity, pay attention to the following:
      * Navigation: How will students navigate from one place to another, and what difficulties might certain students encounter during that process?
      * Students’ ability levels: Can students work this activity successfully?
      * Natural breaks within the activity: Is there enough flexibility that students can complete all or selected parts within the time constraints of the daily schedule?
    2. Read these Teacher's Pages for a full understanding of the lesson.
    
    <div class='list_hdr'>Before using the activities ...</div>

    1. Check out your computers:
      * Review the Computer Needs section.   
      * Reserve a time to use the computer lab. 
      * Bookmark the activity on the Web browser of each student computer.
    2. Determine a strategy for organizing your students. Options include the following:
      * Use a whole-class approach with one computer.  
      * Use a team approach in a computer lab, with different students having specific responsibilities during the activity (such as "mouse user," "note taker," and "oral reader"). 
      * Use a one-computer-per-student approach.
    
    <div class='list_hdr'>When preparing students ...</div>

    1. Share the objectives and the key vocabulary words used in the activity.<br/><br/>
    2. Use a large monitor, projector, or transparencies to give a preview of the
    activity and to demonstrate how to navigate within it. <br/><br/>
    3. Give your students a computer/Web pre-assessment to determine their
    computer experience and/or competence. <br/><br/>
    4. Organize your students in such a way that more experienced users are
    matched up with less experienced ones.  <br/><br/>
    5. Try one of the "Suggested Engagement Activities" discussed in the Lesson Plan section of the Teacher's page. <br/><br/>
    6. Review and consider using one of the extension activities discussed in the
    Lesson Plan section of the Teacher's Pages.

    <div class='list_hdr'>While students are doing an activity ...</div>

    1. Help individual students navigate through the activity. <br/><br/>
    2. Provide options for those who finish the activity early:
      * Have students review the activity again to define key vocabulary words.  
      * Have students visit related Web links to conduct additional research. 
      * Have students complete some type of assessment activity. Suggestions for potential assessment activities can be found in 
        Evaluation / Assessment in the Lesson Plan section of the activity’s Teacher's Pages. 


= jump_to(overview_links)

.markdown 
  <span class='subtopic_hdr' id='subjects'> Subjects </span>
  :markdown  
    * Reading
    * Science
    * Technology
          
  <span class='subtopic_hdr' id='concepts'>  Concepts </span>
  :markdown
    * Names of objects in the solar system
    * Order of the planets from the Sun
    * Diameter of objects in the solar system
    * Planet's distance from the Sun
    * Unique features of the planets, comets, asteroids, and the Sun 

  %h2{:id => 'prerequisites', :class=>'teacher-crush'} Prerequisites
  %span{:class=> 'teacher-list-title'} Before attempting to complete this lesson, students should:
  :markdown

    * Understand that other objects exist in the solar system besides Earth.
    * Be able to read grade-level-appropriate material.
    <br/>
  <span class='subtopic_hdr' id='skills_aquired'>Process skills acquired </span>
  :markdown
    * Making choices based on information read
    * Interpreting information
    * Using a computer as a working tool
    
  %h2{:id => 'target'}Grade levels / Target audience
  %p Grades 3-6
    
  <span class='subtopic_hdr' id='preparation_time'> Preparation time </span>
  :markdown
    * Time necessary to bookmark the website
    * Time necessary to become familiar with the activity

  %h2{:id => 'execution_time'} Execution time
  %p
    30-45 minutes
    
  %h2{:id => 'last_update'} Last update
  %p February, 2014

  %h2{:id => 'credits'} Credits
  %p
    This activity is an update of the Solar System Trading Cards activity, which first appeared in 1996. The update is the work of the staff members of the Office of Public Outreach at the Space Telescope Science Institute.
  
= jump_to(overview_links)
%br
%br

