%h1 Science Background

.markdown
  :markdown
    The following information is provided to give the teacher some additional knowledge about the solar system. You can choose to use this information with students as a review for class discussion, or have them do research on some of the science background questions listed on this web page. <br/><br/>

%span.jump_title JUMP TO:

%ol.numbered
  - science_links.each_with_index do |link, index|
    - break if link[1] == 'words_from'
    %li.science_link_spacing 
      = link_to link[0], url_for(:anchor => link[1])
%br
%span.references
  = link_to 'Words from a Scientist', url_for(:anchor => 'words_from')
  %br
  = link_to 'REFERENCES', url_for(:anchor => 'references')   
%br
%hr
%h2{:id=>'what_is_solar'}1. What is the solar system?
%span.science_adjust Our solar system consists of:
.markdown 
  :markdown
    * One central star: the Sun 
    * Four rocky planets: Mercury, Venus, Earth, and Mars
    * Four giant planets: Jupiter, Saturn, Uranus, and Neptune 
    * More than 140 moons 
    * Millions of rocky asteroids, mostly in the asteroid belt 
    * Billions of comets and larger icy objects, mostly in the Kuiper belt and the Oort cloud
=top_link
%hr
%h2{:id=>'how_many'}2. How many planets are there in our solar system? 
.markdown
  :markdown
    Our solar system has eight planets: four rocky planets and four giant planets.  The rocky planets are closest to the Sun; the giant planets, farthest from the Sun. Listed in order outward from the Sun, the planets are Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, and Neptune. A mnemonic that can be used to remember the planets in order is, "My Very Educated Mother Just Served Us Nachos."

    Pluto was considered a ninth planet until August 2006, when the International Astronomical Union reclassified it, along with Ceres and Eris, as "dwarf planets." The dwarf planets represent the very largest members of the asteroid belt and Kuiper belt, with new ones added as they are discovered.    

=top_link
%hr
%h2{:id=>'form'}3. How did the solar system form? 
.markdown
  :markdown
    The planets, moons, asteroids, and comets in the solar system formed along with the Sun about 4.5 billion years ago. Originally, the gas and dust that would become the Sun was the core of a cloud much larger than the solar system, probably several light-years across [one light-year is approximately 6 trillion (6,000,000,000,000) miles, or 10 trillion kilometers]. The core was slowly rotating at first, but as the cloud collapsed, it spun faster, like a spinning ice skater pulling in his arms. The rotation prevented the material along the cloud's equator from collapsing as fast as the material at the poles, so as the cloud collapsed, the core became a spinning disk.

    Most of the gas and dust in the disk spiraled gradually in to the center, where it accumulated onto the forming Sun. Some of the dust settled to the mid-plane of the disk and began to stick together to make clumps. These clumps accreted to make larger and larger rocks, eventually making the rocky planets (Mercury, Venus, Earth, and Mars) and the cores of the giant planets. For the giant planets (Jupiter, Saturn, Uranus, and Neptune), the rocky cores attracted appreciable amounts of gas as well as accreted icy objects that had formed in the outer parts of the solar system. The formation of Jupiter and Saturn was dominated by hydrogen and other gases. Uranus and Neptune, however, were built up mainly from ice chunks. Moons formed around the planets, either through a similar process of clumpy accretion or via the gravitational capture of objects. The asteroids and comets we see today are the leftover, small, rocky, and icy objects from the solar system formation. 

    The Sun, then, is the collapsed core of an interstellar gas cloud. The planets, moons, asteroids, and comets are small lumps of dust or ice chunks that stayed in orbit instead of spiraling into the Sun. The planets all formed within a few hundred million years after the Sun's birth
=top_link
%hr
%h2{:id=>'old'}4. How old is the solar system? 
.markdown
  :markdown
    The solar system is about 4.5 billion years old.
=top_link  
%hr
%h2{:id=>'big'}5. How big is the solar system? 
.markdown
  :markdown
    There are no distinct physical boundaries in space. The traditional view of the solar system is that it consists of eight planets orbiting around one star: the Sun. Neptune, the farthest planet from the Sun, orbits at approximately 30 astronomical units (AU) from the Sun. An astronomical unit is a unit of length used by astronomers. One astronomical unit equals the average distance from Earth to the Sun &#8212; about 93 million miles (150 million kilometers). The solar system also includes the Kuiper belt, a comet-rich area that begins near Neptune's orbit and stretches about one and a half times farther, to around 50 AU from the Sun. The Oort cloud, another region of icy objects in our solar system, is roughly spherical and extends much, much farther out to approximately 50,000 AU from the Sun.
=top_link  
%hr
%h2{:id=>'differences'}6. Are there differences among the planets in our solar system?
.markdown
  :markdown
    Planets come in different sizes and colors. The four planets closer to the Sun are called rocky, or terrestrial, planets. They are smaller in size than Earth, yet they are similar to Earth in composition, with rocky surfaces and metallic cores. They have no rings, and only two of them (Earth and Mars) have moons.

    The four outer planets, called giant planets, are much larger than the rocky planets. They all have rings and many moons. Jupiter and Saturn are made up mostly of hydrogen and helium, while Uranus and Neptune add significant amounts of water, ammonia, and methane to those base elements. All of the giant planets have a relatively small rock-and-metal core.
%hr
%h2{:id=>'asteroid_belt'}7. What is the asteroid belt? 
.markdown
  :markdown
    The asteroid belt is a zone between the orbits of Mars and Jupiter. Millions of small, rocky asteroids inhabit the asteroid belt, with many more scattered throughout the solar system. The orbits of asteroids tend to be much more elliptical and tilted than the orbits of the planets. It is believed that the gravity of nearby Jupiter prevented the asteroids from accreting into larger objects
=top_link 
%hr
%h2{:id=>'comets'}8. Where do comets come from?
.markdown
  :markdown
    Comets are giant snowballs of ice and rock that formed in the outer solar system and now are found mostly in the regions called the Kuiper belt and the Oort cloud. Gravitational interactions, such as with a large planet, can disturb such an iceball over time, and change its orbit to pass through the inner solar system. If it passes close enough to the Sun, the ices melt and produce the coma and tail of a comet.

    Short-period comets, comets that have orbital periods less than 200 years, probably originate from the Kuiper belt. This belt is located within the solar system's ecliptic plane, beyond the orbit of Neptune. Since 1992, thousands of objects have been discovered in the Kuiper belt. These objects are small compared with planets. Their sizes range from 10 kilometers to 2,500 kilometers in diameter. Earth's diameter, by comparison, is 14,000 kilometers. Astronomers estimate that this belt contains at least 200 million icy objects.

    Long-period comets, those with orbital periods up to hundreds of thousands of years, exist in a vast, spherical cloud of frozen bodies called the Oort cloud. While we only see these comets when they pass through the planetary region, they have highly elongated orbits that come from all directions of the sky. From such observations, astronomers deduce that this cloud of comets extends about a thousand times more distant from the Sun than the Kuiper belt.
=top_link 
%hr
%h2{:id=>'seen_without'}9. Are there any planets that can be seen without a telescope? 
.markdown
  :markdown
    Yes. Some planets can indeed be seen with the unaided eye, which is how they were discovered by ancient civilizations. They are Mercury, Venus, Mars, Jupiter, and Saturn. The other two planets, Uranus and Neptune, were discovered by telescopes.
=top_link 
%hr
%h2{:id=>'rocky'}10. What are the rocky, or terrestrial, planets?
.markdown
  :markdown
    Mercury, Venus, Earth, and Mars are called the rocky, or terrestrial, planets. They are the planets closest to the Sun. Their composition is similar to Earth's composition, containing mostly the heavy materials of rock and metal.

    Because they formed closer to the heat of the Sun, the lighter gases and ices could not condense during their formation, as they did in the outer parts of the solar system.
=top_link 
%hr
%h2{:id=>'giant'}11. What are the giant planets? 
.markdown
  :markdown
    Jupiter, Saturn, Uranus, and Neptune are called the giant planets. Jupiter and Saturn contain the largest percentages of hydrogen and helium, while Uranus and Neptune contain the largest shares of ices, frozen water, ammonia, and methane.
=top_link 
%hr
%h2{:id=>'rings'}12. Which planets have rings? 
.markdown
  :markdown
    The four giant planets, Jupiter, Saturn, Uranus and Neptune, all have rings
=top_link 
%hr
%h2{:id=>'pictures_of_planets'}13. Can the Hubble Space Telescope take pictures of all the planets in our solar system? 
.markdown
  :markdown
    No. Mercury and Earth are the only two planets that the Hubble Space Telescope has not observed. To protect its instruments, Hubble never observes near the extreme brightness of the Sun. Thus, Hubble cannot observe Mercury because it is always too close to the Sun. Hubble's orbit is only 380 miles above Earth's surface, making Earth much too close for Hubble to observe.
=top_link 
%hr
%h2{:id=>'pictures_of_sun'}14. Can the Hubble Space Telescope take pictures of the Sun? 
.markdown
  :markdown
    No. The Sun is too bright for the Hubble Space Telescope to observe. Its bright light would damage the telescope's sensitive detectors.
=top_link 
%hr
%h2{:id=>'pluto'}15. Why is there a discussion over whether Pluto is or is not a planet? 
.markdown
  :markdown
    Pluto was called a planet from its discovery in 1930 until it was re-classified as a "dwarf planet" in 2006. The change in status stems from the fact that, since 1992, astronomers have discovered thousands of objects similar to Pluto in size and composition in the region of Pluto's orbit. This region is called the Kuiper belt, and the objects are called Kuiper belt objects (KBOs). Pluto fits with the objects in the Kuiper belt and does not fit with either the rocky planets (Mercury, Venus, Earth, and Mars) or the giant planets (Jupiter, Saturn, Uranus, and Neptune). Factors that distinguish Pluto from the eight planets include its composition, atmosphere, size, large moon, and orbit.

    <b>Composition:</b> Pluto is composed of ice, rock, and frozen gases, similar to the composition of the comet-like objects in the Kuiper belt.

    <b>Atmosphere:</b> Pluto's atmosphere grows as it moves closer to the Sun and recedes as it moves away. This is similar to the comet-like objects found in its vicinity. The frozen gases sublimate (turn from a solid to a gas) as Pluto moves closer to the Sun and then condense on the surface of Pluto as it moves away from the Sun. In contrast, the atmospheres of the planets do not appear or disappear during their orbits.

    <b>Size:</b> Pluto is relatively tiny, with a diameter about one-fifth that of Earth. It is smaller than seven moons of the solar system, including our Moon. Pluto's mass is about 1/500th that of Earth and only 4 percent that of Mercury (the smallest planet). Although puny on a planetary scale, Pluto is one of the largest objects inhabiting the Kuiper belt.

    <b>Large moon:</b> Pluto's largest moon, Charon, is a little more than one-half the radius of Pluto and one-eighth its mass. Pluto and Charon are in a "synchronous" orbit: They always show the same face to each other as they orbit. Charon's orbit is only 20,000 kilometers away from Pluto. For comparison, Earth's Moon has about 1/80th the mass of Earth and orbits 400,000 kilometers away. Many astronomers consider Pluto and Charon to be a binary Kuiper belt object since they orbit a common center. Pluto's smaller moons, Nix, Hydra, Styx, and Kerberos, are considerably smaller and more distant from Pluto than is Charon.

    <b>Orbit:</b> Pluto's orbit around the Sun is more elliptical than that of any of the planets. (It actually crosses Neptune's orbit.) It is tilted at an inclination of 17.15 degrees relative to the plane of Earth's orbit. The planets all have much smaller inclinations, while the Kuiper belt objects tend to have large inclinations like Pluto.
=top_link 
%hr
%h2{:id=>'what_is_dwarf'}16. What is a dwarf planet?
.markdown
  :markdown
    A dwarf planet is a celestial body within the solar system that shares some of the characteristics of planets. It orbits the Sun, is not a moon, and has a spherical or nearly spherical shape. Unlike a planet, however, a dwarf planet is not massive enough to gravitationally dominate the region of its orbit. Dwarf planets include Ceres, the largest asteroid in the asteroid belt, as well as Pluto and Eris, the largest Kuiper belt objects.
=top_link 
%hr
%h2{:id=>'words_from'} Words from a scientist

.author_header by Bonnie Meinke, Ph.D., Outreach Astronomer, Space Telescope Science Institute
.markdown
  :markdown
    As these trading cards demonstrate, the solar system is an expansive space filled with small collections of very different objects. As we study beyond our solar system, we now know of more than 700 (and 3,000+ soon-to-be-confirmed) other planets. We have an ever-growing catalog of planets of all sizes and compositions in many different orbits and stellar conditions. We look to the original small collection of our own solar system to understand what we see beyond our home.  

    Our solar system was born 4.6 billion years ago from a disk of dust and gas orbiting a young Sun. With observatories like HST, we can image such dusty disks around young stars in our galaxy. In the case of Fomalhaut B, we have imaged a planet orbiting just outside a dust disk. As telescopes and observing techniques advance, we are able to catch a glimpse of our own origins in these other systems as they form and evolve.

    In our solar system, there are four small, rocky planets and four giant planets. The giant planets are gaseous, and orbit far away from the Sun, while the small ones are rocky and orbit much closer in. As we observe other systems, we see that this configuration is an unusual one. There are some systems with Jupiter-sized planets orbiting closer to their stars than Mercury orbits our Sun. Other systems have multiple rocky worlds smaller than Earth! Exoplanet observations have shed some light (pun intended?) on what is "normal." It seems multi-planet systems are the norm, and planets a few times the size of Earth are most common.  

    Let us not forget the non-planet members of our solar system, the very small stuff we will not see (due to difficulty of detection) any time soon around other stars: comets, asteroids, rings, and moons. We can explore these because they are in our own "backyard."  Learning more about these objects helps us understand the evolution of the solar system, since the small stuff is usually the remnants of formation.  

    As our own solar system is a starting point for understanding planetary science, so are these cards just a starting point for student exploration. Familiarizing oneself with the characteristics of "nearby" objects makes comparisons to those distant systems more meaningful and instructive. Go beyond the cards with students to identify unanswered questions and debates. For example, no spacecraft has visited Uranus and Neptune since Voyager. There's still much to be explored in our own backyard.

    Bonnie Meinke    
=top_link
%br
%hr
%h2{:id=>'references'} REFERENCES
%p
  See the
  =link_to 'Grab Bag', url_for('grab-bag')
  page for a complete list of websites, books, and other related materials that can be used as references about the solar system.
=top_link
%hr
%br
%br 
