.checkbox_frame
  .checkbox_hdr.checkbox_col_1
    Display
  .checkbox_hdr.checkbox_col_2
    ON/OFF
  .checkbox_row.checkbox_col_1 
    Median
    .green_dot
  .checkbox_row.checkbox_col_2#median_checkbox
    .unchecked_box.center  
    .checked_box.center.hide
  .checkbox_row.checkbox_col_1
    Mean 
    .red_dot
  .checkbox_row.checkbox_col_2#mean_checkbox
    .unchecked_box.center
    .checked_box.center.hide  