
<table>
   <tr>
	<td class='nob smaller'> Computer Trial <br/>
	   	<br/>Percentage of <br/> Irregulars </td>  
	<td class='computer smaller'>1<hr/><span id='f0'></span>   </td>
	<td class='computer smaller'>2<hr/><span id='f1'></span>   </td>
	<td class='computer smaller'>3<hr/><span id='f2'></span>   </td>
	<td class='computer smaller'>4<hr/><span id='f3'></span>   </td>
	<td class='computer smaller'>5<hr/><span id='f4'></span>   </td>		
  </tr>


</table>
