.troika_h1.h_pos.enough_on_top
  How many galaxies are enough?

.sample_enough
  %p
    .std_text
      Often, we can't sample a whole popula- tion. We look, instead, for the&nbsp; 
      .link.link_vocab> smallest reasonable sample
      = "."
      How do we arrive at that magic number? 
  %p.std_text
    The secret behind what is "reasonable"  lies in the variability of samples. 
    %br
    %br
    Would you expect to get the exact same results if five different samples of the same sample size were taken?
    %br
    %br
    Let's find out by looking at the percentage of irregulars in your HDF. Hit GO, and
    .std_bold
      the computer will choose five samples of the same size as your safari sample.
  .sample_go
    =link_to sample_go_path do
      = render partial: 'nav/button', locals: {text: 'GO'} 

=link_to lesson_index_path do 
  .back.back_position

#travelogue_6.travelogue_position
.bg_3_1



