.grid_6.move_starfield_left   
  .canvas_header
    .condensed_h2.h2_field
      Hubble Deep Field {{fieldChoice.get_field_name()}}
      (HDF-{{fieldChoice.get_field()}})&nbsp;
 
    <div class='humble_link more_info_position' ng-show='fieldChoice.get_field()=="n"' ng-click='modal.open("Meet HDF-North")'>&nbsp;(show info) </div>

    <div class='humble_link more_info_position' ng-show='fieldChoice.get_field()=="s"' ng-click='modal.open("Meet HDF-South")'>&nbsp;(show info) </div>
  .star_canvas.star_border
    <div ng-click='clicksAreActive && galaxyData.sample_this_galaxy($event)' id='starfield'>
    <div class='n-image' ng-show='fieldChoice.get_field()=="n"'>
    %canvas{:id=>'nStarDraw',:width=>'431px',:height=>'443px'}
      %p Your browser doesn't support canvas
    </div>
    <div class='s-image' ng-show='fieldChoice.get_field()=="s"'>
    %canvas{:id=>'sStarDraw',:width=>'431px',:height=>'443px'}
      %p Your browser doesn't support canvas for HDFs
    </div>
    </div>       
  - if show_counts          
    .captured_message_location
      .osc_h1
        You've captured 
      #active_counts
        {{galaxyData.count_of_samples()}}
      .osc_h1
        galaxies&nbsp;
      .got_counts
      <div id='done_button'  ng_click='got_counts()' ng-class='{button_outside_gray: (galaxyData.count_of_samples() == 0), button_outside: (galaxyData.count_of_samples() > 0)} '>
      .button_inside
        .button_text
          Done
      </div>             