.grid_5
  .left_of_starfield_position
    .callout_line.left_of_starfield_style
      .callout_number
        1.
      .plain_list_text
        To capture a galaxy, click on it.    Snag as many as you like.
        %br
        %br
        You cannot pick the same galaxy twice.
    .left_of_galaxy_windowshade.galaxy_windowshade_position
      .link.why_link_position#why_link
        Do you know why?
      .left_of_starfield_style

        .plain_number
          &nbsp;
        .plain_list_text
          Because of what a 
          .std_bold
            random sample
          is.
      .full_width.check
      .left_of_starfield_style    
        .plain_number
          A.
        .plain_list_text
          .std_bold A simple random sample
          is gathered by
          .std_bold
            selecting each member without replacement,
          which means that a member is not available to be selected more than once.  
      .full_width.check
      .left_of_starfield_style    
        .plain_number
          B.
        .plain_list_text
          The members are
          .std_bold selected by chance
          so that 
          .std_bold each member has an equal opportunity of being selected.
      .full_width.check
      .left_of_starfield_style    
        .plain_number
          C.
        .plain_list_text
          .std_bold
            The sample, of size 'n', is repre- sentative of the population as a whole.
      .full_width.check
      .left_of_starfield_style          
        .tiny_link.tiny_link_position#hide_answer
          Hide answer 
          %br
    .callout_line.left_of_starfield_style    
      .callout_number
        2.
      .plain_list_text
        Click DONE when you've finished sampling galaxies.  