
.split_box
  .callout_number.bigger_number
    1.
  .split_text
    Has your selection method introduced bias by making certain mem- bers of the population more likely to be picked than others?
    
    
.split_box
  .callout_number.bigger_number
    2.
  .split_text
    Is your sample size large enough to adequately rep-resent the population of the HDF?

.split_box
  .troika_h2
    Let's find out:  