.location_block
  .full_width.check
  .troika_h3.margin_bottom
    LOCATION: HDF-{{fieldChoice.get_field_name()}}
  .dummy_again  
  .sample_table.sample_table_wide
    .col1_location.osc_h1_table.th_sample
      Source of Results
    .col2_location.osc_h1_table.th_sample
      Galaxy Type
    .col3_location.osc_h1_table.th_sample
      = '%'
    .col1_location.td_sample_tall.td_padding_adjust
      .std_bold.td_brown
        YOU
      %br
      .std_plaintext
        Using safari 
        %br
        sample size of 
        = @sample_size    
    .col2_location.td_sample_tall
      .td_vertical_adjust
      .std_bold.td_brown
        Irregular
    .col3_location.td_sample_tall
      .td_vertical_adjust
      .std_bold.td_brown
        {{galaxyData.frequencies()[2].freq}}%

    .col1_location.td_sample_tall
      .std_bold.td_brown
        ASTRONOMERS
      %br
      .std_plaintext
        Using whole population
      %br
      .std_plaintext
        of HDF-{{fieldChoice.get_field()}}  
    .col2_location.td_sample_tall
      .td_vertical_adjust
      .std_bold.td_brown
        Irregular
    .col3_location.td_sample_tall
      #show_me
        .full_width.check
        <nav-button ng-click="show_me_result=true" text='"Show me"' ng-hide='show_me_result'>
        </nav-button>
      .std_bold.td_brown
        <div class='td_vertical_adjust' ng-show='show_me_result'>
        {{astronomer_irregular_frequency}}%
        </div>   
      #actual_result.hide
        .td_vertical_adjust
          .std_bold
            = '70%'
  .dummy_again