.troika_h1.h_pos
  Your Photo Safari Results
.grid_5
  .left_of_starfield_position.got_counts_width
    .galaxy_types_image
    .sample_block
      .short_break
      .troika_h3  
        Location: HDF-{{fieldChoice.field_name()}}
      .troika_h3.margin_bottom
        Your Safari Sample Size: 
        {{galaxyData.count_of_samples}}
      .sample_table
        .dummy
        .col1.osc_h1_table.th_sample
          Galaxy Type
        .col2.osc_h1_table.th_sample
          Frequency
        .col3.osc_h1_table.th_sample
          = '%'
        <div ng-repeat='freq in galaxyData.frequencies()'>
        .col1.td_sample
          {{freq.name}}
        .col2.td_sample
          {{freq.count}}
        .col3.td_sample
          {{freq.freq}}%
        </div>
        .dummy    
    .full_width.check
    .std_text
      Since &nbsp;
      <span class='link' ng-click='modal.open("More About Galaxy Types")'> galaxies come in different types</span>
      , this chart shows how many of each type were in the sample that you just captured.
    .full_width.check
    %br
    .std_text
      - if @return_to_text == 'bias'
        Has your selection method introduced bias by making certain members of the population more likely to be picked than others?
      - elsif @return_to_text == 'sample'
        Is your sample size large enough to adequately represent the populations of the HDF?
      - else  
        But how accurate are these percentages for the whole image?
  
= render :partial=>'finder/canvas',:locals=>{:show_counts=>false} 

<page-back back="'/start/select'"></page-back>
<page-forward forward='"/start/irregulars"'></page-back>
#travelogue_2.travelogue_position

%galaxy_types
%field_modals
