.irregular_side.irregular_side_position
.troika_h1.h_pos
  You vs. the Astronomers
.troika_h2.h2_pos
  Comparing the percentage of Irregulars
.left_irregular
  .left_irregular_text
    .std_text
      To simplify, we're going to look at only the irregular galaxies.
      %p
      <div ng-hide='show_me_result'>
      Click the SHOW ME button to see the actual result for irregulars found by categorizing
      %phrase{'word'=>"'all_galaxies'", 'define'=>'define'} all the galaxies
      that could be categorized in your HDF. 
      </div>
  <div class='left_irregular_text' ng-show='show_me_result'> 
  .std_text
    Here you can see the actual result for irregulars found by categorizing 
    %phrase{'word'=>"'all_galaxies'", 'define'=>'define'}all the galaxies
    that could be categorized in your HDF.
    %br
    %br 
  .std_bold
    Does the percentage of irregulars in your safari sample seem close to the astronomers' actual result for the whole HDF?
  .std_text
    If you're not sure, go ahead and guess...
  %p
  %a{href: 'start/next'}
    <nav-button text='"yes"'></nav-button> &nbsp;&nbsp;&nbsp;
    <nav-button text='"no"'></nav-button>
  </div>
.right_irregular_compare
  = render :partial=>'table_location'
#travelogue_3.travelogue_position
<page-back back="'/start/got_counts'"></page-back>
<page-forward forward="'/start/next'" ng-show='show_me_result'>
</page-forward>
<div class='next_disable_signpost next_position' ng-hide='show_me_result'></div>
