.find_out_background
  .middle_next
    .std_text   
      Before you can really answer this question consider these two things:
      %br
      %br
      .next_questions
        .callout_line
          .callout_number
            1.
          .callout_text.regular_font
            Has your selection method introduced
            .heavy bias
            by making certain members of the population more likely to be picked than others?
            %br
            %br

        .callout_line    
          .callout_number.bigger_number
            2.
          .callout_text.regular_font
            Is your 
            .heavy sample size 
            large enough to adequately represent the population of the HDF?
    .troika_h1.next_center
      Let's Find out!        

= link_to finder_irregulars_path do
  .back.back_position
= link_to lesson_index_path do
  .next_signpost.next_position