.center_block#oops.hide
  .overlay_background
    .oops_wrong_modal.adjusted_sample_position
      %br
      .troika_headline
        OOPS, That's Biased!
      %p
        .std_text
          Samples picked by humans are always susceptible to bias.  Unconsciously, we base our choices on a trait or quality of the sample member.
      .oops_close_adjustment
        %close_bias_overlay
.center_block.hide#bias_computer_biased
  .overlay_background
    .wrong_modal.position_modal
      %br
        .troika_headline
          Oops! Computer-generated sample: Unbiased
      %p
        .std_text
          Selection of samples by computers is considered unbiased.
      %p
        .std_text
          In the database sampling, each galaxy would be assigned a number.  The computer would collect a sample of galaxies by randomly picking numbers.
      .adjust_right
        %close_bias_overlay
      %br  
.center_block.hide#bias_computer_unbiased
  .overlay_background
    .correct_modal.position_modal
      %br
        .troika_headline
          That's Right! Computer-generated sample: Unbiased
      %p
        .std_text
          Selection of samples by computer is considered unbiased.
      %p
        .std_text
          In the database sampling, each galaxy would be assigned a number.  The computer would collect a sample of galaxies by randomly picking numbers.
      .adjust_right
        %close_bias_overlay
      %br  
.center_block.hide#bias_eyes_closed_biased
  .overlay_background
    .correct_modal.position_modal.eyes_closed_wider
      %br
        .troika_headline
          That's Right! Picking with eyes closed: biased
      =render :partial=>'bias/modal_eyes_closed'

.center_block.hide#bias_eyes_closed_unbiased
  .overlay_background
    .wrong_modal.position_modal.eyes_closed_wider
      %br
        .troika_headline
          OOPS! Picking with eyes closed: biased
      =render :partial=>'bias/modal_eyes_closed'

#bias_redness_msg.green_button_inside.hide
  .green_button_text
    That's
    %br
    Right
#bias_location_msg.green_button_inside.hide
  .green_button_text
    That's
    %br
    Right
#bias_size_msg.green_button_inside.hide
  .green_button_text
    That's
    %br
    Right
#bias_blueness_msg.green_button_inside.hide
  .green_button_text
    That's
    %br
    Right
#bias_shape_msg.green_button_inside.hide
  .green_button_text
    That's
    %br
    Right
#bias_brightness_msg.green_button_inside.hide
  .green_button_text
    That's
    %br
    Right               