
<div class='overlay_background' ng-show='modal.show("Meet HDF-North")'>
.outer_border_meet
  #big_north_map.map_border
  .right_side_of_map
    .troika_h2 
      Hubble Deep Field North
    %br  
    #side_north_map
    %p
      .std_text
        The Hubble Deep Field North (HDF-N) is one of the deepest, sharpest, multi-color images of the faintest universe in visible light. The image was made by aiming the Hubble Space Telescope at one seemingly empty point in the northern sky near the Big Dipper for 10 days in December 1995. About a thousand never-before-seen galaxies are visible in this view of the universe.
  #close_meet_north.close_meet_position
    %close_overlay
</div>     
<div class='overlay_background' ng-show='modal.show("Meet HDF-South")'>
.outer_border_meet
  #big_south_map.map_border
  .right_side_of_map
    .troika_h2 
      Hubble Deep Field South
    %br  
    #side_south_map
    %p
      .std_text
        Turning its sharp eye toward the southern constellation Tucana, the Hubble Space Telescope captured another dazzling assortment of never-before-seen galaxies. The Hubble Deep Field South (HDF-S) complements the original Hubble Deep Field (HDF-N) taken in late 1995. The constellation Tucana can only be viewed from the southern hemisphere. The 10-day-long observation, in October 1998, doubled the number of far-flung galaxies available to astronomers for deciphering the history of the universe.
    #close_meet_south.close_meet_position
      %close_overlay
</div>
<div class='overlay_background' ng-show='modal.show("you_must_first_pick")'>
.wrong_modal.position_caution_modal
  %br
    .troika_headline
      Oops!
  %p
    .std_text
      In order to do this you must first pick some galaxies...
  .adjust_right.close_modal
    %close_overlay
  %br
</div>