.congratulations_background
  .big_headline
    .troika_h1.headline_font
      Congratulations
  .congrats_block_adjusted
    .std_text 
      You've explored distant galaxies and unraveled 
      %br
      some cosmic mysteries with random sampling! 

  .congrats_box
    .congrats_text_style
      The follow-up links:
    .congrats_box1 
      .congrats_text
        .std_text
          = link_to LEARN_MORE do
            .link Learn more
          about the Hubble Space Telescope, the HDFs, and statistics 
      .congratulations_learn
    .congrats_box1
      .congratulations_amazing 
      .congrats_text
        .std_text
          Explore other
          %br
          = link_to AMAZING_SPACE do 
            .link Amazing Space lessons
  .congrats_box2
    
    .congratulations_frontier_fields 
    .congrats_text_wide
      %br
      .osc_h1.osc_block
        Looking Ahead:
      %br
      .troika_h2.frontier_margin.troika_block
        The frontier fields
    .congrats_text_wide
      .std_text
        The Frontier Fields project is exploring the most distant and earliest galaxies ever seen by the Hubble Space Telescope, providing a sneak peek at the first billion years of the universe.  To learn more, click
        <a href=#{FRONTIER_FIELDS} class='link'>here</a>.
= link_to last_different_path do
  .back.back_position