.troika_h1.center_text.last_adjust
  The universe looks different
  %br
  at different depths
.troika_h2.center_text
  (i.e., Distances)
.graphic_depths.graphic_depths_position
  %img{src: image_path('final/last_stop/graphic-universe-at-depths.jpg'), alt:"  The Universe Looks Different at Different Depths (ie. Distances)   Observations of the Hubble Deep Fields reveal galaxies that are billions of light-years away. These distant galaxies represent an earlier period in the history of the universe. When we look at this distant view, we see mostly irregularly shaped galaxies. Hubble’s closer views of the universe, within just millions of light-years of Earth, show us different galaxy shapes. When we look within this shorter span, we see mostly rounded elliptical galaxies."} 
#secrets_modal
  .button_outside.last_deep_position
    .button_inside
      .button_text
        What do we mean by "Deep?"
= link_to last_question_path do
  .back.back_position
= link_to last_congratulations_path do
  .next_signpost.next_position  
#travelogue_16.travelogue_position
#overlay_background.about_deep.hide
  .outer_border_secret
    = render partial: 'lesson/secrets'
    = render partial: 'nav/close_x'
#page.hide
  Different