.blue_header
  .sky_blue_title
    Percentage of Irregular Galaxies:
    %br
    Variability in 5 computer samples
.sky_blue_border_variability
  .live_sample_background
    %canvas{width:'396',height:'300',id:'live_samples'}
