#best_base_text
  .std_text
    .short_break
    Add the 
    .link.link_vocab mean
    or the
    .link.link_vocab median
    to see the effect of sample size on variability.  The indicators will be connected with a line.
  .short_break

#best_add_text.hide
  .std_text
    As sample size increases, there is less variability.  The
    .link.link_vocab measures of central ten- dency
    approach a constant value when the sample size is sufficient to represent the population.  The sample mean or median is approaching the population mean or median as the sample size increases.
  .short_break
  .std_bold
    Do you think you know where the smallest reason-
    %br
    able sample is?

  .adjust_best_show_me_position#best_show_me
    .button_outside
      .button_inside
        .button_text.adjust_best_show_me_text
          Show me
.best_try.hide
  .std_text
    roach a more constant value.  This region
    yields the&nbsp; 
    .link.link_vocab> smallest reasonable size
    = "."
    Accuracy wouldn't increase much by picking a larger sample.
  .short_break
  .std_bold
    Can you determine the smallest reasonable sample size for data taken from the HDF?
  .short_break
  = link_to funnel_best_region_path do
    .button_outside.float_right
      .button_inside
        .button_text.adjust_best_show_me_text
          Let me try