#best_first
  .std_text
    To find the &nbsp;
    .link.link_vocab> smallest reasonable sample
    , we need
    %br
    to look more closely at the variability of the small- 
    %br
    est samples

.best_try.hide
  .std_text
    In the bright yellow region, variability first starts to "settle down", and the 
    .link.link_vocab measure of central tendency
    first starts to ap- 
