#new_small_width.show_good_region.hide
  .on_left
    %input#show_estimate.reasonable_size{type:'text', value:'40'}
  .on_left#gray_title
    NEW SMALL, REASONABLE SIZE
  %br  
  %canvas#green_sample1{width:50, height: 10}
