.gold_for_text
  %br
    WHERE'S THE BEST SAMPLE SIZE

  %br
  %br
  Review 
  =link_to 'smallest reasonable sample', vocab_explain_path(:topic=>'smallest_reasonable'), :class=>'link vocabulary'
  %br
  %br
