
.color_bar_legend
  .osc_h2_gray_normal.color_bar_title
    Your original
    %br
    Safari sample size:
  .color_bar_counts#your_sample_field
    = @sample_size
  .color_bar   
    %canvas#purple_sample{width:100, height: 20}

.color_bar_legend  
  .osc_h2_gray_normal.color_bar_title
    Your small
    %br
    reasonable sample size:
  .color_bar_counts#reasonable_field
    = @reasonable
  .color_bar.color_bar_adjust
    %canvas#green_sample{width:100, height: 20}

#you_got_it_text
  .std_text
    You found a good value for the&nbsp; 
    .link.link_vocab> smallest reason- able sample
    = '.'
    You picked one of the smallest sizes that kept the variability of results about as low as could be obtained by sampling much more of the population.
    %br
    %br
    Here, the total number of galaxies in your HDF is slightly over 1,000.  But a sample of
    .std_bold
      40-50
    adequately represents this populations because it yields about as low a variability as a sample of almost 1,000.

    Now that you have a good sample size, you can compare results with the astronomers.  
