.troika_h1.h_pos
  Where is the best sample size?
.troika_h2.h2_pos
  Real data from HDF-{{fieldChoice.get_field().toUpperCase()}}  
.short_break
%br
.left_smallest_region
  #best_text
    .std_text
      These are actual HDF-{{fieldChoice.get_field().toUpperCase()}} re-samplings. Choose a sample size that seems both small and reasonable.  Use
      %phrase{'word'=>"'mean'", 'define'=>'define'} mean 
      and
      %phrase{'word'=>"'median'", 'define'=>'define'} median
      to help you decide. Type the small and reasonable sample size in the box below. Then hit GO to proceed.   

  .color_bar_legend
    .osc_h2_gray_normal.color_bar_title
      Your {{fieldChoice.field_name().toUpperCase()}}
      %br
      Safari sample size:
    .color_bar_counts
      {{galaxyData.count_of_samples()}}  
    .color_bar  
      %canvas#purple_sample{width:100, height: 20}

  = render :partial=>'layouts/enter_reasonable'
  .adjust_checkbox
    %checkbox_mean_median
.right_smallest_region
  .blue_header
    .sky_blue_title
      Percentage of Irregular Galaxies:
      %br
      Variability in 5 computer samples
  .sky_blue_border_variability
    .live_sample_background
      %canvas{width:'396',height:'300',id:'live_samples'}

<page-back back='"/sample/smallest"'></page-back>
.center_block.hide#wrong_sample_estimate
  #overlay_background
    .narrower_wrong_modal.position_modal
      %br
        .troika_headline
          Oops! 
      %p
        .std_text
          To find the smallest reasonable sample, look for the smallest size that keeps the natural variability of results about as low as could be obtained by sampling much more of the population.
      %p
        .std_text
          Here, the total number of galaxies in your HDF is slightly over 1,000.    But a sample of 40-50 adequately represents this population because it yields about as low a variability as a sample of almost 1,000.
      %p
        .std_text
          Try again or let us choose an appropriate sample size of 45 for you.
      %action_button{'action'=>'try_again'} TRY AGAIN                 
      %action_button{'action'=>'next', 'text'=>'"NEXT"'}NEXT