.troika_h1.h_pos
  Variability vs. Sample size
.left_of_magnify
  .std_text
    How will the range change
  .text_border
    .std_text
      as the sample size increases?
      %p
      .std_bold Move the magnifier to learn more.
      %p
      As the sample size increases, the range decreases, which means variability decreases.  
  #min_max_mini.brown_border
    #magnifier_container
      #magnifier_glass
.middle_magnify
  %canvas#floating_lines{width: 50, height: 385}
.right_of_magnify
  .blue_header
    .sky_blue_title
      Min/max variability of sample sizes
  .mag_blue_border
    #graphic_window 
      #min_max_graphic
      #min_max_frame
#travelogue_8.travelogue_position
<page-back back='"sample/enough"'></page-back>
<page-forward forward='"sample/smallest"' ng-show='slider_down()'>
</page-forward>
<div class='next_disable_signpost next_position' ng-hide='slider_down()'>
</div>



