.boxy2.game_section.hide
  Journey to the wildest regions of space and wrestle with cosmic giants &mdash; galaxies.  To begin, click on the crocodile.
.boxy3.game_section.hide
  .short_break
  You're off to a good start!   To go on, click on the crocodile.
.boxy4.game_section.hide
  Congratulations, you've just learned how to bypass the booby trap of BIAS! To go on, click on the crocodile.
.boxy5.game_section.hide
  Great! You've grappled with the vagueness of variability and the shiftiness of sample size.  To proceed, click on the crocodile.
.boxy6.game_section.hide
  Congratulations, you've uncovered some facts about the universe by comparing the two HDFs.  To finish the safari, click on the crocodile.
