.enter_left
  #enter_the_deep.enter_the_deep_position
  #enter_snippet
    .std_text
      Pick a Hubble Deep Field to sample
.enter_right
  .field_block#north
    #plain_north.plain_control
      .plain_middle
        .big_look
          Look North 
        .big_text
          near the Big Dipper
      #north_plain

    <a href='start/select' id='hover_north' class='hover_adjust_right hover_control' ng-click=fieldChoice.set_field('n')></a>
  .earth_block
    #earth_image
    <div class='enter_tag_position condensed_h2_underscore' ng-click='modal.open("Meet HDF-North")'> More info about HDF-N </div> 

  .field_block#south
    #plain_south.plain_control
      .plain_middle
        %br
        .big_look
          Look South
        .big_text
          near the constellation Tucana
      #south_plain
    <a href='start/select' id='hover_south' class='hover_adjust_right_south hover_control' ng-click=fieldChoice.set_field('s')></a>

  .earth_block
    <div class='enter_tag_position condensed_h2_underscore' ng-click='modal.open("Meet HDF-South")'> More info about HDF-S </div>  
- if @caution_modal
  = render partial: 'nav/caution_modal'

%field_modals

<page-back back='"/start/stare"'></page-back> 

