<div   ng-mousemove='enter($event)'> 
.homepage_background
  %br
  %br
  .troika_headline.center_text
    .troika_h0
      Galaxy Hunter
    .troika_h1
      A cosmic photo safari
  <div class='btn_enter btn_enter_position'
  ng-class='home_class()'
  ng-click='home_click()'>
  </div>
.home_text
  .std_text
    Explore the Hubble Deep Fields from a statistical point of view. 
    %p  
    Watch out for the booby traps of bias, the vagueness of variability, and the shiftiness of sample size as we travel on a photo safari through the Hubble Deep Fields (HDFs).
    %p
    %a{href:'itinerary'}
      .link
        Start now!!
</div>    
.home_toolbar.hide

#page
  Home
#lesson_index_path.hide
  = lesson_index_path
<div>  