

<div style='width:500px'>
	<div id='starfield' style='float:left; width:272px;'><%=image_tag 'hdfpic-n.jpg'%>
	</div>
</div>	
	<div id='wrapper' style='border: 1px solid black; width:300px; height: 300px; float:left'>
	   <canvas id="StarDraw" width="300" height="300">
	      <p>Your browser doesn't support canvas.</p>
	   </canvas>
	</div>


