
.outback_background
  .page_structure
    .troika_h1.h_pos.h_3
      The Ultimate Outback
    .outback_left
      .std_text
        Billions and billions of 
        %phrase{'word'=>"'all_galaxies'", 'define'=>'define'}  galaxies
        populate the universe. The Hubble Space Telescope has unmasked many of them in two of the clearest, most distant views ever obtained, called the Hubble &quot;Deep Fields&quot; (HDFs). One view peers northward, the other, southward.
        %p
          Scientists have used mathematics to unlock many galactic secrets hidden in these two views. Ahead, we'll use sample statistics based on actual HDF data to unravel some cosmic mysteries
        %br
      .outback_button
        <modal-button modal_is='"Meet the Hubble Deep Fields"' on-open='modal.open(modal_id)'></modal-button>
      .outback_button
        <nav-button ng-click='modal.open("What is Deep?")' text="'What do we mean by &quot;Deep&quot;?'"></nav-button>
        
%what_is_deep


<div class='overlay_background' ng-show='modal.show("Meet the Hubble Deep Fields")'>
.outer_border_meet_hdfs
  .meet_side
    .meet_button
      %br
        <modal-button modal_is='"Meet HDF-North"' on-open='modal.open(modal_id)'></modal-button>
    #intro_north_map
  .meet_center
    .troika_h1
      Introducing the
      %br
      Hubble Deep Fields
      %br
      %br
      .short_break
      .outer_frame_video
        .inner_frame_video
          <iframe width="370" height="208" src="//www.youtube.com/embed/ut8DNM3iH9A" frameborder="0" allowfullscreen ng-if=modal.video_on_top() ></iframe>
  .meet_side_south
    .meet_button
      %br
        <modal-button modal_is='"Meet HDF-South"' on-open='modal.open(modal_id)'></modal-button>
    #intro_south_map
    %br
  #close_meet_hdfs 
    %close_overlay
</div>      
%field_modals

<page-nav back='"/itinerary"' forward="'/start/stare'"> </page-nav>
   