.bias_pct_table
  .bias_pct_header
    Percentage of irregular galaxies in 
    %br
    HDF-{{fieldChoice.get_field()}}
  .bias_pct_row
    Your Method
    .bias_right_justify
      {{galaxyData.frequencies()[2].freq}}%
  .bias_pct_row
    Astronomers' result
    .bias_right_justify
      67.2%
%br
      
