.bias_pct_table
  .bias_pct_header
    Percentage of irregular galaxies in 
    %br
    HDF-#{@field}  
  .bias_pct_row
    Your Method
    .bias_right_justify
      = "%4.1f%" % @percent
  .bias_pct_row
    Astronomers' result
    .bias_right_justify
      67.2%
%br
      
