#bias_redness_msg.green_button_inside.hide
  .green_button_text
    That's
    %br
    Right
#bias_location_msg.green_button_inside.hide
  .green_button_text
    That's
    %br
    Right
#bias_size_msg.green_button_inside.hide
  .green_button_text
    That's
    %br
    Right
#bias_blueness_msg.green_button_inside.hide
  .green_button_text
    That's
    %br
    Right
#bias_shape_msg.green_button_inside.hide
  .green_button_text
    That's
    %br
    Right
#bias_brightness_msg.green_button_inside.hide
  .green_button_text
    That's
    %br
    Right    