.bias_wide_method_row
  .image
  .bias_row_text
    = text
.bias_check_row
  .check_box.unbiased
    %canvas.check_canvas{width:22, height:22}
.bias_check_row
  .check_box.biased
    %canvas.check_canvas{width:22, height:22}