%p
  .std_text 
    Though it seems unbiased, you introduce bias when you open your eyes and decide which galaxy your finger has chosen.
.bias_explicit_height
  #bias_eyes_closed_bias_info
  .std_text#oops_block
    Your fingertip is huge compared to the galaxy images in the HDF; it could cover or point to several galaxies at once.   When you decide which galaxy your finger is on or pointing to, you are introducing the possi-bility for bias.
    %p
    Or, you might use your mental image of the picture to try to move your finger to differ- ent locations, in an attempt to avoid intro-ducing bias.   This, too, would be biased.   The very act of trying to avoid bias utilizes 
    .std_bold
      human intention
    , which introduces the potential for bias.
.adjust_right.close_modal
  .close_no_right
    %close_bias_overlay
    %br
.short_break
.half_break