.troika_h1.h_pos
  Banishing Bias
.bias_left
  .std_text
    Haphazard sampling &mdash; especially that done by human choice &mdash; can result in a biased sample that has very different characteristics from the population.  Random sampling requires careful planning to avoid bias.
    %p
    Here are some methods that you could have used to choose a sample of galaxies.  Decide whether each method introduces bias.   Click in the "Unbiased" or Biased" column to log your decision.

.bias_right
  .troika_h2_white
    Categorize these methods:
  .bias_right_table
    .bias_header
      .bias_wide_method_header
        .bias_hdr_text
          Method for choosing a
          %br
          sample of galaxies
      .bias_check_header.bias_hdr_text
        %br
        Unbiased
      .bias_check_header.bias_hdr_text
        %br
        Biased   
    <bias-check text="'redness'" image="'bias_redness'"
    on-check='modal.bias(biased, image_ref)'></bias-check>
    <bias-check text="'location in picture'" image="'bias_location'"
    on-check='modal.bias(biased, image_ref)'></bias-check>
    <bias-check text="'size'" image="'bias_size'""
    on-check='modal.bias(biased, image_ref)'></bias-check>
    <bias-check text="'blueness'" image="'bias_blueness'""
    on-check='modal.bias(biased, image_ref)'></bias-check>
    <bias-check text="'shape'" image="'bias_shape'" 
    on-check='modal.bias(biased, image_ref)'></bias-check>
    <bias-check text="'brightness'" image="'bias_brightness'" 
    on-check='modal.bias(biased, image_ref)'></bias-check>
    <bias-check text="'Picking with eyes closed'" image="'bias_eyes_closed'" tall=true
    on-check='modal.bias(biased, image_ref)'></bias-check>
    <bias-check text="'Letting computer pick a sample'" image="'bias_computer'" tall=true  
    on-check='modal.bias(biased, image_ref)'></bias-check>

%bias_modals
#travelogue_4_5.travelogue_position
<page-back back="'/itinerary'"></page-back>

<page-forward forward="'/bias/compare'" ng-show='modal.show_next_bias()'></page-forward>
<div class='next_disable_signpost next_position' ng-hide='modal.show_next_bias()'></div>