.n-image {
  background-image: image-url("finder/hdfn_r5_c4.jpg")
}
.s-image {
  background-image: image-url("finder/hdfpic-s.jpg");
  background-size: 431px 443px;
}
.centered {
	margin-left: auto;
	margin-right: auto;
}
td, th{
   border: 1px solid white;	
}
@mixin standard {
	height: 676px;
	background-size: 940px 676px;
}
.home {
    @include standard;
	background-image: image-url("lesson/home.png");
}
@mixin btn {
    color: #000;
	font-size: 200%;
	position: absolute;
	height: 60px;
	width: 100px;
	opacity: 0.5;
	border: 4px solid white;	
	cursor: pointer;
	&:hover {
	    opacity: 1.0;
	    text_decoration: underline;
	    color: #fff;
	}
}
.enter_btn1 {
    @include btn;
	top: 540px;
	left: 350px;
}
.enter_btn2 {
    @include btn;
	float: left;
	top: 500px;
	left: 480px;
}
.home_toolbar{
	position: absolute;
	top: 610px;
	width: 900px;
	margin-left: 60px;
}
@mixin toolbar_btn{
    @include btn;
    position: relative;
    height: 50px;
	width: 100px;
	font-size: 120%;
	float: left;
	margin-right: 55px;
}
.toolbar_btn {
    @include toolbar_btn;
}

.safari_toolbar{
	position:absolute;
	top: 220px;
	left: 40px;
	z-index: 1;
}
#next_steps a{
	@include toolbar_btn
}
#next_steps a:nth-child(2){
	top: 20px;
}
#next_steps a:nth-child(3){
	top: -23px;
	left: 20px;
}
#signposts a{
	@include toolbar_btn;
	position: relative;
	left: 20px;
	top: 580px;
}
#signposts a:nth-child(2){
	left: 670px;
}
#intro_text {
    margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	text-align: center;
	color: white;
}
#intro_text a{
	color: #ffc088;
	font-size: 130%;
}
#intro_text p{
	color: white;
	font-size: 130%;
}
.outback {
  @include standard;
  background-image: image-url("lesson/outback.png");
}
#outback_galaxies{
	@include btn;
	top: 180px;
	left: 300px;
}
#outback_toolbar{
	position:absolute;
	top: 550px;
	left: 40px;
	
}
#outback_btn1 {
	@include toolbar_btn;
}
#outback_btn2 {
	@include toolbar_btn;
	left: 120px;
}
#outback_btn3 {
	@include toolbar_btn;
	left: 150px;
}

#meet_hdf{
   background-image: image-url("lesson/meet_the_hdfs.png");
   @include standard; 	
}
#itinerary_btn {
	@include btn;
	top: 10px;
	font-size: 100%;
	left: 560px;
	height: 20px;
    width: 40px;
}
#enter_adjust {
	position: absolute; 
	top: 300px;
}
.enter_n {
    background-image: image-url("lesson/enter_n.png") !important;
    }
.enter_s {
    background-image: image-url("lesson/enter_s.png") !important;
}
#enter_look{
   height: 240px;
   position: absolute;
   top: 200px;
   left: 480px;
   width: 380px;
}
#look_north{
	height: 110px;
	border: 1px solid blue;
}
#look_south{
	height: 110px;
	border: 1px solid  blue;
	position: relative;
	top: 200px;
}
#aboutnorth {
	background-image: image_url('lesson/meet_north.png');
	background-size: 402px 544px;
	width: 402px;
	height: 544px;
}
#aboutsouth {
	background-image: image_url('lesson/meet_south.png');
	background-size: 402px 544px;
	width: 402px;
	height: 544px;
}
#final_depth {
	width: 522px;
	height: 199px;
	margin-top: 20px
}
