.fa.fa-times.vocab_close
.short_break
.troika_h2.vocab_hdr
  Astronomers' Result
.std_text
  Astronomers counted and classified all the galaxies that could be counted and classified in each of the Deep Fields.