#overlay_background
  .wrong_modal.position_caution_modal
    %br
      .troika_headline
        Oops! 
    %p
      .std_text
        In order to do this you must first pick some galaxies...
    .adjust_right.close_modal
      = render partial: 'nav/close_x'
    %br      
   