.std_text
  your sample size was too small to be reasonable.
  %p
  While it is statistically possible to get represen- tative results from such a sample, that sample size will not consistently yield good results.
  %p
  Want to try again?
  .short_break
  .short_break
    %linked_button#try_again{'link'=>'"/fields/sample"'}  Try Again 
    %action_button{'action'=>'skip'} &nbsp;Skip&nbsp;  
%br
