.center_block.hide#north_big_field
  #overlay_background
    .outer_border#big_north_image
      .image_block
        .troika_headline
          Hubble Deep Field North
        = render partial: 'nav/close_x'
        #hdfn_big_image
.center_block.hide#south_big_field
  #overlay_background
    .outer_border#big_south_image
      .image_block
        .troika_headline
          Hubble Deep Field South
        = render partial: 'nav/close_x'
        #hdfs_big_image        

- if @warn  
  #overlay_background.field_selection_modal
    .wrong_modal.position_modal.enter_modal 
      %br
        .troika_h2
          HDF Field Selection
        %p
          .std_text
            You need to pick galaxies first 
        = render partial: 'nav/close_x'        