.fa.fa-times.vocab_close
.short_break
.troika_h2.vocab_hdr
  SMALLEST REASONABLE SAMPLE SIZE
.std_text      
  Statisticians look for the smallest sample that is "reasonable." The smallest sample minimizes time and costs. A "reasonable" sample is one that is unbiased and large enough to adequately represent the population it's derived from.