.gray_border#vocab_position.hide
  .alarm_inner#choose_at_least_one.hide
    .std_text
      .alarm_margin
        You must choose at least one galaxy
    .push_button_right
      = render :partial=> 'nav/button',:locals=>{:text=>'OK'}