.enter_yellow_frame
  .osc_h2_big_gray_normal.color_bar_title
    ENTER A SMALL
    %br
    REASONABLE SIZE:
  .on_left#sample_number
    .best_size_spacing
      %input#make_estimate.reasonable_size{type:'text',maxlength: 3}
    .button_outside#best_region
      .button_inside
        .button_text
          Go