#overlay_background.hide.galaxy_overlay         
  #galaxies_inner_border.galaxy_types_modal
    .border_slideout
      .troika_headline.types_adjust_left
        The three main galaxy types
      .galaxy_types
        #ellipticals
        .galaxy_text_width
          .std_text.std_bold.gt
            Ellipticals
          .std_text.gt
            Round or oval shaped in appear- ance these are the most common galaxies found nearby.
        .wider_spacing
        #spirals
        .galaxy_text_width
          .std_text.std_bold.gt
            Spirals
          .std_text.gt
            These have pinwheel-shaped arms.
        .wider_spacing
        #irregulars
        .galaxy_text_width
          .std_text.std_bold.gt
            Irregulars
          .std_text.gt
            Galaxies that do not fit into the other two categories:  these are the least common galaxies found nearby.
    .close_galaxies
      = render partial: 'nav/close_x'