- if true
  .tab_down.tab_top_part.tab_area.progress_slider
  .tab_down.tab_bottom_part.tab_area.progress_slider
  #progress_slide.progress_slider
    .small_itinerary
      .progress_slide_out
        = render partial: 'layouts/progress'
    %canvas{width: '940', height:'286', id: 'progress_canvas'}
